.ImagesDisplayer .BigImage img{
    width: 50%;
    margin-left: 25%;
}

.ImagesDisplayer .SmallImages {
    margin-top: 3%;
}

.ImagesDisplayer .SmallImages img {
    width: 20%;
    margin-left: 10%;
    cursor: pointer;
}